# LiteLLM Configs
MASTER_KEY='' #required
# LiteLLM Model Providers Configs
DEEPSEEK_API_KEY=''
OPENAI_API_KEY=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_REGION_NAME=''
# LiteLLM S3 Bucket Logs
AWS_S3_BUCKET_NAME=''
# Postgress Configs
POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_DB=''